body{
    display: flex;
    flex-direction: column;
    background-color: pink;
}
#banner{
    height: 50px;
    width: auto;
}
#body{
    display: flex;
    width: auto;
    justify-content: center;
}
#footer{
    height: 10px;
    width: auto;
}
#footer{
    height: 100px;
    width: auto;
}
#calc{
    display: flex;
    flex-direction: column;
    border: 2px black solid;
    border-radius: 10px;
    height: 525px;
    width: 400px;
    background-color: darkgrey;

}
#screenArea{
    display: flex;
    justify-content: right;
    align-items: end;
    width: auto;
    height: 100px;
    margin: 20px;
    border: 2px black solid;
    background-color: rgb(231, 227, 227);
    border-radius: 10px;

}
#screen{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
#numberButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.numB{
    height: 60px;
    width: 80px;
    margin: 7px;
    background-color: rgb(231, 227, 227);
}
.numB:hover{
    background-color: rgb(190, 182, 182);
}
.numB:active{
    background-color: rgb(160, 158, 158);
}

#deleteButtons{
    display: flex;
    justify-content: center;
    align-items: center;
}
#delB{
    height: 60px;
    width: 174px;
    margin: 7px;
    background-color: rgb(112, 185, 216);
}
#delB:hover{
    background-color: rgb(103, 166, 192);
}
#delB:active{
    background-color: rgb(89, 142, 165);
}
button {
    border-radius: 10px;
    border: 2px black solid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}